@use "sass:map";

$sizes: sm, md, lg;

// $lw - layout-width
$lw: (
 w-xs-1000: 380px,
 w-sm-1000: 576px,
 w-md-1000: 768px,
 w-lg-1000: 1024px,
 w-xl-1000: 1260px,
);

// $bp - breakpoint
$bp: (
 bp-xs-1000: 380px,
 bp-sm-1000: 576px,
 bp-md-1000: 768px,
 bp-lg-1000: 1024px,
 bp-xl-1000: 1260px,
);

$max-width-step-1: map.get($bp, "bp-xl-1000");
$max-width-step-2: map.get($bp, "bp-lg-1000");
$max-width-step-3: map.get($bp, "bp-md-1000");
$max-width-step-4: map.get($bp, "bp-sm-1000");
$max-width-step-5: map.get($bp, "bp-xs-1000");

/* prettier-ignore */
$color: (
	black-100: rgb(0, 0, 0),           // #000
	black-200: rgb(4, 28, 55),         // #041c37
	black-300: rgb(0, 1, 0),	          // #000100
	black-400: rgb(20, 20, 20),	       // #141414
	black-500: rgb(35, 33, 42),	       // #23212a
	black-600: rgb(28, 31, 53),	       // #1c1f35

	blue-100: rgb(9, 18, 66),	         // #091242
	blue-200: rgb(17, 28, 84),	        // #111c54
	blue-300: rgb(17, 28, 85),	        // #111c55
	blue-400: rgb(31, 42, 105),	       // #1f2a69
	blue-500: rgb(39, 50, 112),	       // #273270
	blue-600: rgb(78, 86, 131),	       // #4e5683
	blue-700: rgb(102, 108, 137),	     // #666c89
	blue-800: rgb(131, 136, 167),	     // #8388a7

	white-100: rgb(255, 255, 255),	    // #fff

	gray-100: rgb(153, 153, 153),      // #999
	gray-200: rgb(214, 214, 214),      // #d6d6d6
	gray-300: rgb(232, 232, 232),      // #e8e8e8
	gray-400: rgb(216, 216, 216),      // #d8d8d8
	gray-500: rgb(212, 212, 212),      // #d4d4d4
	gray-600: rgb(217, 217, 217),      // #d9d9d9	
	gray-700: rgb(244, 244, 244),      // #f4f4f4
	gray-800: rgb(232, 232, 232),      // #e8e8e8
	gray-900: rgb(232, 232, 232),      // #e8e8e8
	gray-1000: rgb(235, 235, 235),     // #ebebeb

	yellow-100: rgb(253, 175, 59),     // #fdaf3b	
	yellow-200: rgb(246, 180, 38),     // #f6b426
	yellow-300: rgb(255, 184, 43),     // #ffb82b
	yellow-400: rgb(255, 182, 41),     // #ffb629
	yellow-500: rgb(255, 190, 52),     // #ffbe34
 yellow-600: rgb(255, 213, 80),     // #ffd550
	yellow-700: rgb(255, 230, 165),    // #ffe6a5
);

/* prettier-ignore */
$gradient: (
 gradient-yellow-100: linear-gradient(94.06deg, rgb(255, 182, 41) -1.21%, rgb(255, 218, 86) 58.66%, rgb(255, 215, 166) 116.84%),
 gradient-yellow-200: linear-gradient(95deg, rgb(255, 182, 41) -1.19%, rgb(255, 218, 86) 57.78%, rgb(255, 215, 166) 115.08%),
 gradient-yellow-300: linear-gradient(127deg, rgb(255, 182, 41) 0%, rgb(255, 218, 86) 50.72%, rgb(255, 215, 166) 100%),
 gradient-blue-100:   linear-gradient(0deg, rgb(9, 18, 66) 14.34%, rgba(60, 60, 60, 0) 43.86%),
 gradient-blue-200:   linear-gradient(180deg, rgb(17, 28, 84) 0%, rgba(17, 28, 84, 0) 98.72%),
 gradient-blue-300:   linear-gradient(360deg, rgb(9, 18, 66) -11.11%, rgba(9, 18, 66, 0) 90.28%),
);

$font-size: (
 fs-100: 1rem,
 fs-120: 1.2rem,
 fs-140: 1.4rem,
 fs-160: 1.6rem,
 fs-180: 1.8rem,
 fs-190: 1.9rem,
 fs-200: 2rem,
 fs-220: 2.2rem,
 fs-250: 2.5rem,
 fs-300: 3rem,
 fs-350: 3.5rem,
 fs-400: 4rem,
 fs-467: 4.67rem,
 fs-500: 5rem,
 fs-600: 6rem,
 fs-850: 8.5rem,
 fs-3500: 35rem,
);

$line-height: (
 lh-100: 100%,
 lh-135: 135.023%,
 lh-151: 151.523%,
);

$letter-spacing: ();

$font-weight: (
 fw-100: 100,
 fw-200: 200,
 fw-300: 300,
 fw-400: 400,
 fw-500: 500,
 fw-600: 600,
 fw-700: 700,
 fw-800: 800,
 fw-900: 900,
 fw-1000: 1000,
 fw-1100: 1100,
 fw-1200: 1200,
 fw-1300: 1300,
);

$opacity: (
 o-100: 0.1,
 o-200: 0.2,
 o-300: 0.3,
 o-400: 0.3,
 o-500: 0.5,
 o-600: 0.6,
 o-700: 0.7,
 o-800: 0.8,
 o-900: 0.9,
 o-1000: 1,
);

$border-radius: (
 radius-20: 2px,
 radius-30: 3px,
 radius-40: 4px,
 radius-50: 5px,
 radius-60: 6px,
 radius-70: 7px,
 radius-80: 8px,
 radius-90: 9px,
 radius-100: 10px,
 radius-400: 40px,
);

$animation-timing-function: (
 ease-100: linear,
 ease-200: ease-in,
 ease-300: ease-out,
 ease-400: ease-in-out,
 ease-500: cubic-bezier(0.4, 0, 0.2, 1),
);

$animation-duration: (
 duration-160: 0.16s,
 duration-200: 0.2s,
 duration-500: 0.5s,
 duration-700: 0.7s,
);

$atf: $animation-timing-function;
$ad: $animation-duration;

$global: (
 global-font-size-reduce: 62.5%,
 global-min-width: 200px,
);
